
section#categories h5{
   text-align: center;
   font-size: 23px;
   font-weight: 500;
   margin-bottom: 88px;
   color: #514f4f;
}
 
div.categorie{
   padding: 24px;
   transition: all .09s ease;
}

div.categorie:hover{
    box-shadow: 1px 1px 10px 1px #00000038;
    border-radius: 10%;
}
div.categorie p{
    margin: 10px;
    padding: 5px;
    font-size: 14px;
}
/* div.categorie:hover p{
    text-shadow: 1px 1px 3px #a49e9e;
} */
div.back-img{
    background-color: #efefef;
    width: 100px;
    height: 96px;
    border-radius: 50%;
    text-align: center;
    position: relative;

}


div.back-img img{
    position: absolute;
    top: -29px;
    right: -5px;
    width: 111px;
    
}
