section.categories h5{
   text-align: center;
   font-size: 23px;
   font-weight: 500;
   margin-bottom: 88px;
   color: #514f4f;
}

div.categorie p{
    margin: 10px;
    padding: 5px;
}

div.back-img{
    background-color: #f3e3d7;
    width: 100px;
    height: 96px;
    border-radius: 50%;
    text-align: center;
    position: relative;

}

div.back-img img{
    position: absolute;
    top: -20px;
    right: 0px;
    width: 111px;
    
}

/* div.back-img img::after{
    content: '';
    width: 30px;
    height: 20px;
    color: rgba(0, 0, 0, 0.352);
    border-radius: 30%;
} */