section#slider_products div.row {
  position: relative;
  background-color: #efefef;
  margin: 25px 0;
  padding: 40px 0;
}

div.owl-carousel {
  position: relative !important;
  
}

div.owl-carousel div.owl-nav {
  position: absolute;
  top: 101px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between;  */
}

div.owl-carousel div.owl-nav button.owl-next {
  position: absolute;
  left: 0;
  width: 30px;
}
div.owl-carousel div.owl-nav button.owl-prev {
  position: absolute;
  right: 0;
  width: 30px;
}

div.owl-carousel div.owl-nav button.owl-next,
div.owl-carousel div.owl-nav button.owl-prev {
  background-color: #f6f7f6;
  color: rgb(255, 0, 0);
  margin: 6px;
  padding: 10px 6px 13px 5px !important;
}
div.owl-carousel div.owl-nav button.owl-next:focus,
div.owl-carousel div.owl-nav button.owl-prev:focus {
  outline: 0;
  border: 0;
}
div.owl-carousel div.owl-nav button.owl-next:hover,
div.owl-carousel div.owl-nav button.owl-prev:hover {
  box-shadow: 0 0 5px 4px #efefef;
}

div.owl-carousel div.owl-nav button.owl-next span,
div.owl-carousel div.owl-nav button.owl-prev span {
  font-size: 40px;
}

/* slider-tow  */
section#slider_products-tow div.slider-tow {
  position: relative;
  /* background-color: #efefef; */
  margin: 25px 0;
  padding: 40px 0;
}
section#slider_products-tow div.slider-tow{
   /* display: flex;
   flex-direction: column; */

}
section#slider_products-tow div.slider-tow .slider-product {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 1000px;
    height: 461px;
    padding-bottom: 63px;
}


section#slider_products-tow div.owl-carousel div.owl-nav {
    top: 71px;
}

section#slider_products-tow div.owl-carousel button.owl-prev,section#slider_products-tow div.owl-carousel button.owl-next {
    width: 20px;
}

div.slider-tow .slider-product div.title{
    
}