@import "_navbar.css";
@import "_carousel.css";
@import "_ banner.css";
@import "_categories.css";
@import "_mobile-bottom-navbar.css";
@import "_products.css";
@import "_offers.css";
@import "_best-products.css";
@import "_slider products.css";                     
@import "_special-products.css";
@import "_daliy-discounts.css";
@import "_footer.css";



/* general style */
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;

}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fbfafa;
}

a,
a:hover {
  text-decoration: none;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
 

.produtcts-title{
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 39px;
  margin-top: 76px;
  color: #514f4f;
}











